<!-- Layouts -->
<%-include("header")-%>
<div class="box" id="heading">
    <h1> This is the latest technology for modern <em>BUSINESS</em>.</h1>
    <p> We are the best when it comes to technology. We are the solution to your technological needs.</p>
    <p>Contact  us at: ratemolewis@gmail.com </p>
</div>

<%-include("footer")-%>
